.board {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: solid 1px rgb(206, 206, 206);
  padding: 3px;
}

.title {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 2px;
  font-weight: bold;
  font-family: 'Fuzzy Bubbles', cursive;
  color: #991f1f;
  font-size: 18px;
}

.row {
  display: flex;
  width: 100%
}

.col {
  display: flex;
  width: 40px;
  height: 40px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: solid 1px #318d31;
  position: relative;
}

.bingo-chip {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  left: 5px;
  background-color: rgba(1, 122, 21, 0.8);
  display: none;
  border-radius: 15px;
  line-height: 0;
}
.match {
  display: block
}


.bingo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #c91010;
  font-size: 18px;
}